---
import Layout from "../layouts/Layout.astro";

import About from "../components/sections/About.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import Education from "@/components/sections/Education.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout tittle="Portfolio">
  <main>
    <div class="layout-wrapper">
      <h1>Welcome to my portfolio</h1>
      <p>If you have any questions, feel free to reach out!</p>
    </div>
    <Hero />
    <About />
    <Education />
    <Projects />
    <Skills />

  </main>

  <KeyboardManager></KeyboardManager>
  <footer>
    <p>This project is licensed under the MIT License.</p>
  </footer>
</Layout>

<style>
  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  main {
    position: relative;
    z-index: 1;
    padding: 2rem;
  }
  footer {
    position: relative;
    align-items: center;
    display: flex;
    max-width: 380px;
    justify-items: center;
    z-index: 1;
    padding: 1rem;
    background-color: #eeebeb;
    border-radius: 8px;
    margin-top: 2rem;
  }
</style>
